/* Контент */
body{
    margin: 0;
    padding: 0;
    font-family: Cambria;
    font-size: 22px;
    background: linear-gradient(0deg, #c92626 0%, #078bf0 98%);
    color: antiquewhite ;
}
.img-conteiner{
    float: right;
    border-style: solid;
    border-width: 2px;
    padding:20px;
    margin-left: 10px;
}
.list-conteiner{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding-right: 20px ;
}
.list-conteiner>p{
    text-align: center;
    font-weight: bold;
}
.img-conteiner>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    max-width: 120px;
}
.emblem{
    max-width: 120px;
}
/* Навигациооная панель  */
.nav-conteiner{
    display: flex;
    justify-content: space-between;
    background-color:cornflowerblue;
    
}
.nav-conteiner{
    display: flex;
    list-style:none ;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-conteiner a:hover{
    background-color: rgb(161, 187, 230);
}
.nav-conteiner{
    display: block;
    padding: 10px;
    border-style: solid ;
    border-width: 1px;
}
@media (max-width: 900px){
    .nav-conteiner{
        flex-direction: column;
    }
}
.text-page{
    padding-left: 15px;
}
.page{
    display: flex;
    justify-content: center;

}
.header{
    width: 14%;
    background: linear-gradient(0deg, #c92626 0%, #078bf0 98%);
}
.section{
    width: 82% ;
}
.header>ol{
    list-style: none;
    border-bottom-style:solid ;
    border-width: 1px ;
    margin: 10px ;
    padding: 0px;
    padding-bottom: 10px;
    
}
.header>div{
    width: 100%;

}
.header>div>img{
    width: 100%;
    margin-bottom: 1em;
    margin-top: 2em;
}
.text-page>h1{
    font-style: oblique;
}
/*Подвал*/
.row{
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    color:aliceblue;
    font-family:'Times';
    
    

}
footer{
    background-color:#b92828
}
.footer-text{
    color:white;
    justify-content: space-between;
    font-family: Arial;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;


}
/*Навигационная панель*/
.navbar{
    display: flex;
    background-color:#078bf0;
    padding-top: 0.5em;
}
.navbar>img{
    padding-top: 5px;
    padding-left: 5px; 
}
.nav-logo{
    display: flex;
    margin-left: 5px;
    margin-top: 3px;
    font-weight: bold;
}
.nav-logo a{
    color: aliceblue;
    display: block;
    padding: 1em;
}
.nav-logo a:hover{
    background-color:cornflowerblue;
}

.nav-burger{
    display: none;
}

@media (max-width:1000px){
    .nav-burger{
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color:#078bf0;
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-logo{
        display: none;
    }
    .nav-burger:hover{
        background-color:#4683b3;
    }
    .drop:hover .nav-logo{
        display: block;
        position: absolute;
        right: 1px;
        background-color:#4683b3;
    }
    .navbar{
        justify-content: space-between;
    }
    .navbar>img{
        width:4em;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
}
.navbar>img{
    width:6em;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
/* Строка поиска */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
form{
  position: relative;
  width: 290px;
  margin-top: 0.5em;
  margin-left: 20px;
  
}
.search{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-left: 10px;
  font-family: Cambria;
  font-size: 1em;
  font-weight: bold;
}
.submit{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #0e558b;
  border: 0;
 }
form:hover > .submit{
  transform: translate(200px, 0);
  transition: 0.8s;
  background-color:#0e558b;
  border-color: antiquewhite;
  border: solid #0e558b 2px;  
}
form:hover > .search{
  width: 240px;
  border-radius: 20px;
  transform-origin: left;
  transition: 0.8s;
  border:solid antiquewhite 2px; 
}
.search > .active{
  border: solid antiquewhite 2px;
}